{% extends 'main.html' %}
{% block content %}
    {% for category, msg in get_flashed_messages(with_categories=True) %}
        {% if category %}
            <div class="alert alert-{{ category }}" role="alert">{{msg}}</div>
        {%  endif %}
  {% endfor %}

<div class="container-lg mt-3">
      <h1>Сайт: {{site[1]}}</h1>


  <div class="table-responsive">
    <table class="table table-bordered table-hover text-nowrap" data-test="url">
      <tbody>
        <tr>
          <td>ID</td>
          <td>{{site[0]}}</td>
        </tr>
        <tr>
          <td>Имя</td>
          <td>{{site[1]}}</td>
        </tr>
        <tr>
          <td>Дата создания</td>
          <td>{{site[2]}}</td>
        </tr>
      </tbody>
    </table>
  </div>

    <h2 class="mt-5 mb-3">Проверки</h2>
    <form method="post" action="{{url_for('urls_id_checks_post', id=site[0])}}">
    <input type="submit" class="btn btn-primary" value="Запустить проверку">
    </form>
    <div>
    <table class="table table-bordered table-hover mt-2" data-test="checks">
      <tbody>
    <tr>
        <th>ID</th>
        <th>Код ответа</th>
        <th>h1</th>
        <th>title</th>
        <th>description</th>
        <th>Дата создания</th>
    </tr>
{% for s in site2 %}
    <tr>
        <td>{{s[0]}}</td>
        <td>{{s[2]}}</td>
        <td>{{s[3]}}</td>
        <td>{{s[4]}}</td>
        <td>{{s[5]}}</td>
        <td>{{s[6]}}</td>
    </tr>
{% endfor %}
      </tbody>
    </table>
  </div>

    </div>
{% endblock %}